<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937140137640-cq222vua5m515fv7fhvs3c698gmk2j03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937140137640-cq222vua5m515fv7fhvs3c698gmk2j03</string>
	<key>API_KEY</key>
	<string>AIzaSyDpb99CqcP7kMQvCofGlis5ORx12vDymrw</string>
	<key>GCM_SENDER_ID</key>
	<string>937140137640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f110.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firsttryf110</string>
	<key>STORAGE_BUCKET</key>
	<string>firsttryf110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937140137640:ios:3c91f71506884b4ce25c9d</string>
</dict>
</plist>